

.lowscore {
    background-color: darkred;
    color: white;
}

.mediumscore {
    background-color: orange;
    color: white;
}

.highscore {
    background-color: forestgreen;
    color: white;
}

.highestscore {
    background-color: dodgerblue;
    color: white;
}